*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    overflow-x: hidden !important;
}
html{
    scroll-behavior: smooth;

}
.slick-initialized { overflow: hidden; }